@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 80px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#222A35;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #575C66;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #626970;
  }

  .primary_background {
    background: rgb(37, 21, 84);
    background: linear-gradient(
      0deg,
      rgba(37, 21, 84, 1) 3%,
     rgba(255, 255, 255, 1) 100%
   );
    width: 100%;
    padding: 50px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
  }

  .secondary_background{
    background: rgb(25,149,211);
    background: linear-gradient(
      0deg,
      rgba(25,149,211) 3%,
     rgba(255, 255, 255, 1) 100%
   );
    width: 100%;
    padding: 50px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);

  }